.clients h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.clients a {
  margin-top: 3px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
a:hover {
  border-color: #2196f3;
}
.clients ul {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.clients {
  padding: 94px 0;
}

.clients a:hover path {
  fill: #2196f3;
}