footer {
  &__clasa {
    padding: 60px 0;
    background: #2f303a;
    .container {
      display: flex;
      gap: 90px;
    }
  }
  &__logo {
    display: inline-block;
    padding: 10px 10px;
  }
  &__contakts {
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    list-style-type: none;
    margin-top: 15px;
    &__link {
      text-decoration: none;
      margin-top: 10px;
      color: $color_3;
      &:hover {
        color: $color_1;
      }
    }
  }
  .join_in {
    &__subtitel {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $color_5;
    }
    &__sohcials {
      margin-top: 15px;
      margin: 0 auto;
      display: flex;
      gap: 10px;
      justify-content: center;
    }
  }
  &__sohcial {
    &__soshial-link {
      justify-content: center;
      align-items: center;
      display: flex;
      width: 44px;
      height: 44px;
      margin-top: 20px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 100%;
      &:hover {
        background: #2196f3;
      }
    }
  }
  &__inset {
    &__titel {
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;
      color: $color_5;
    }
  }
  &__btn {
    color: $color_5;
    text-align: center;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    transition: 1s;
    height: 50px;
    border: 0px;
  }
}
