.clasa2 {
  background: #2f303a;
  padding: 60px 0;
}

.pop {
  color: #ffffff;
}
.clasa2 .container {
  display: flex;
  gap: 60px;
}
.header_logo2 span {
  color: #2196f3;
}
.header_logo2 {
  display: inline-block;
  margin: 0;
  padding: 10px 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.address a {
  margin-top: 15px;
}
.address a {
  margin-top: 10px;
  color: #757575;
}
.address {
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.address a:hover {
  color: #2196f3;
}

.join_in h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.join_in ul {
  margin: 0 auto;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.inset h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.ins {
  color: #ffffff;
  text-align: center;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  transition: 1s;
  height: 55px;
  border: 0px;
}
.inset-form {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}
.inset-input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}

.ins:hover {
  transform: scale(1.1);
}
.sochails {
  padding-left: 0px;
}
.sochails li {
  margin-top: 0px;
}
.sochail a {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 44px;
  height: 44px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
}

.sochail a:hover {
  background: #2196f3;
}
a,
a:hover path {
  fill: #ffffff;
}